[user]
	name = PatrickMa
	email = patrick.is@not.here
[color]
	diff = auto
	status = auto
	branch = auto
	interactive= true
	ui = true

[core]
	excludesfile = ~/.gitignore_global
	ignorecase = true
[push]
	default = simple
