[user]
	name = PatrickMa
	email = patrick.is@not.here
[color]
	diff = auto
	status = auto
	branch = auto
	interactive= true
	ui = true

[core]
	excludesfile = ~/.gitignore_global
	ignorecase = true
	autocrlf = true
[push]
	default = simple
[credential]
	helper = /cygdrive/C/Users/Patrick/AppData/Roaming/GitCredStore/git-credential-winstore.exe
[alias]
	tree = log --graph --oneline --decorate --color
	treeall = log --graph --oneline --decorate --all --color
[merge]
	tool = gvimdiff
	conflictstyle = diff3
